In [1]:
#PartII
from statsmodels.stats.weightstats import ttest_ind
import numpy as np

In [2]:
import pandas as pd
df = pd.read_csv('T-test.csv') ## import the query q3 from MySQL

In [3]:
UID = df["UID"]

In [4]:
Output = pd.DataFrame(UID.drop_duplicates(), columns = ["UID"])
Output

          UID
0    37825841
1    96755595
2    38998162
3      794927
4    79272055
..        ...
995  40425172
996  58732744
997  51323880
998  55191224
999   2616922

[1000 rows x 1 columns]

In [5]:
for i in range(0,1000): ## Calculate the p-value for each gene and for each diseases. And then store the p-value in a dataframe.
    dfA = df[(df.name == 'ALL') & (df.UID == Output.loc[i,'UID'])]
    dfB = df[(df.name != 'ALL') & (df.UID == Output.loc[i,'UID'])]
    dfC = dfA['exp']
    dfD = dfB['exp']
    t1 = ttest_ind(dfC, dfD)
    Output.loc[i,'p_ALL'] = t1[1]
    dfA = df[(df.name == 'AML') & (df.UID == Output.loc[i,'UID'])]
    dfB = df[(df.name != 'AML') & (df.UID == Output.loc[i,'UID'])]
    dfC = dfA['exp']
    dfD = dfB['exp']
    t1 = ttest_ind(dfC, dfD)
    Output.loc[i,'p_AML'] = t1[1]
    dfA = df[(df.name == 'Giloblastome') & (df.UID == Output.loc[i,'UID'])]
    dfB = df[(df.name != 'Giloblastome') & (df.UID == Output.loc[i,'UID'])]
    dfC = dfA['exp']
    dfD = dfB['exp']
    t1 = ttest_ind(dfC, dfD)
    Output.loc[i,'p_Giloblastome'] = t1[1]
    dfA = df[(df.name == 'Colon tumor') & (df.UID == Output.loc[i,'UID'])]
    dfB = df[(df.name != 'Colon tumor') & (df.UID == Output.loc[i,'UID'])]
    dfC = dfA['exp']
    dfD = dfB['exp']
    t1 = ttest_ind(dfC, dfD)
    Output.loc[i,'p_Colon_tumor'] = t1[1]
    dfA = df[(df.name == 'Breast tumor') & (df.UID == Output.loc[i,'UID'])]
    dfB = df[(df.name != 'Breast tumor') & (df.UID == Output.loc[i,'UID'])]
    dfC = dfA['exp']
    dfD = dfB['exp']
    t1 = ttest_ind(dfC, dfD)
    Output.loc[i,'p_Breast_tumor'] = t1[1]
    dfA = df[(df.name == 'Flu') & (df.UID == Output.loc[i,'UID'])]
    dfB = df[(df.name != 'Flu') & (df.UID == Output.loc[i,'UID'])]
    dfC = dfA['exp']
    dfD = dfB['exp']
    t1 = ttest_ind(dfC, dfD)
    Output.loc[i,'p_Flu'] = t1[1]

/Users/yanchenglai/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/weightstats.py:135: RuntimeWarning: invalid value encountered in double_scalars
  return self.sum / self.sum_weights
/Users/yanchenglai/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/weightstats.py:997: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(var_pooled * (1.0 / d1.nobs + 1.0 / d2.nobs))
/Users/yanchenglai/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/weightstats.py:135: RuntimeWarning: invalid value encountered in double_scalars
  return self.sum / self.sum_weights
/Users/yanchenglai/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/weightstats.py:997: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(var_pooled * (1.0 / d1.nobs + 1.0 / d2.nobs))

In [6]:
Output

,UID,p_ALL,p_AML,p_Giloblastome,p_Colon_tumor,p_Breast_tumor,p_Flu
0,37825841,0.865340,0.649243,0.915577,0.359617,0.932088,NaN
1,96755595,0.051878,0.241836,0.895462,0.742107,0.656072,NaN
2,38998162,0.071555,0.036777,0.006072,0.105342,0.203931,NaN
3,794927,0.477174,0.282674,0.394914,0.570731,0.935534,NaN
4,79272055,0.718347,0.545690,0.719103,0.523282,0.076546,NaN
...,...,...,...,...,...,...,...
995,40425172,0.907633,0.950093,0.444766,0.967475,0.437913,NaN
996,58732744,0.231602,0.128471,0.952148,0.906454,0.558911,NaN
997,51323880,0.224294,0.143161,0.242419,0.317646,0.425444,NaN
998,55191224,0.157824,0.679760,0.130274,0.419913,0.743296,NaN
999,2616922,0.569355,0.419464,0.621434,0.534479,0.583524,NaN

In [7]:
ALL = Output.loc[Output.p_ALL <0.01,'UID'] ## Pick the genes whose p-value is smaller than 0.01, and they are the informative genes for 'ALL'
ALL

13     85557586
21     48199244
45     13947282
63     40567338
79     28863379
192    41333415
214    47276861
220    53478188
233    94113401
234    15295292
237    37998407
266    60661836
271    69156037
279    87592194
287    58672549
392    11333636
445    45926811
450    75434512
494    92443312
539    83398521
622    16073088
624    43866587
703    52948490
715    88257558
718     1433276
757    75492172
781    24984526
787    31997186
793    88596261
820    97606543
854    74496827
871    31308500
884    41464216
925    21633757
926     4826120
931    65772884
970    18493181
985    58792011
Name: UID, dtype: int64

In [8]:
Output.loc[Output.p_AML <0.01,'UID'] ## Pick the genes whose p-value is smaller than 0.01, and they are the informative genes for 'AML'

297    70792370
405    72418240
442    92333749
463    82151723
539    83398521
582    38422427
622    16073088
656    56677458
722    54926187
796    83460852
804    26775693
854    74496827
884    41464216
895    42895686
898    57734781
970    18493181
Name: UID, dtype: int64

In [9]:
Output.loc[Output.p_Giloblastome <0.01,'UID'] ## Pick the genes whose p-value is smaller than 0.01, and they are the informative genes for 'Giloblastome'

2      38998162
13     85557586
17     16824822
26     21282903
114    95478776
198    31054689
331    66586335
534    41522019
656    56677458
711    98253924
905    19729470
917    24266603
936    18634953
Name: UID, dtype: int64

In [10]:
Output.loc[Output.p_Colon_tumor <0.01,'UID'] ## Pick the genes whose p-value is smaller than 0.01, and they are the informative genes for 'Colon tumor'

282    61452024
531    84175488
944    40326466
Name: UID, dtype: int64

In [11]:
Output.loc[Output.p_Breast_tumor <0.01,'UID'] ## Pick the genes whose p-value is smaller than 0.01, and they are the informative genes for 'Breast tumor'

172    36532782
187    58187596
412    79683225
433    88633991
763    31610401
925    21633757
Name: UID, dtype: int64

In [12]:
Output.loc[Output.p_Flu <0.01,'UID'] ## Pick the genes whose p-value is smaller than 0.01, and they are the informative genes for 'Flu'

Series([], Name: UID, dtype: int64)

In [13]:
### Bonus Question
df

         s_id     pb_id  e_id  mu_id  exp       UID   p_id  ds_id         name
0      300018  78571824   652      1  105  37825841  79777      3          AML
1      300018  23034151   652      1   78  96755595  79777      3          AML
2      300018  55625439   652      1  116  38998162  79777      3          AML
3      300018  84436488   652      1   97    794927  79777      3          AML
4      300018  60308461   652      1   50  79272055  79777      3          AML
...       ...       ...   ...    ...  ...       ...    ...    ...          ...
52995  867456  21733850   156      1  192  40425172  34267      4  Colon tumor
52996  867456   8335046   156      1  125  58732744  34267      4  Colon tumor
52997  867456  34055558   156      1  174  51323880  34267      4  Colon tumor
52998  867456  57330652   156      1  167  55191224  34267      4  Colon tumor
52999  867456  54226887   156      1  106   2616922  34267      4  Colon tumor

[53000 rows x 9 columns]

In [14]:
df['Informative'] = 0 ## set a colunm to show if this gene is informaive for ALL or not. The default value is 0.

In [15]:
# use the loop to give value 1 for all the rows in df, if its UID is included in ALL.
for i in range(0,38):
    for j in range(0,53000):
        if df.iloc[j,5] == ALL.iloc[i]:
            df.iloc[j,9] = 1

In [16]:
df

,s_id,pb_id,e_id,mu_id,exp,UID,p_id,ds_id,name,Informative
0,300018,78571824,652,1,105,37825841,79777,3,AML,0
1,300018,23034151,652,1,78,96755595,79777,3,AML,0
2,300018,55625439,652,1,116,38998162,79777,3,AML,0
3,300018,84436488,652,1,97,794927,79777,3,AML,0
4,300018,60308461,652,1,50,79272055,79777,3,AML,0
...,...,...,...,...,...,...,...,...,...,...
52995,867456,21733850,156,1,192,40425172,34267,4,Colon tumor,0
52996,867456,8335046,156,1,125,58732744,34267,4,Colon tumor,0
52997,867456,34055558,156,1,174,51323880,34267,4,Colon tumor,0
52998,867456,57330652,156,1,167,55191224,34267,4,Colon tumor,0
52999,867456,54226887,156,1,106,2616922,34267,4,Colon tumor,0

In [17]:
dfA_infor = df[(df.name =='ALL')&(df.Informative == 1)] ## define Group A. In group A, the disease are ALL for all the patients, and we wanna focus only on informative genes.
dfB_infor = df[(df.name !='ALL')&(df.Informative == 1)] ## define Group B. In group B, the disease are not ALL for all the patients, and we wanna focus only on informative genes.

In [18]:
dfA_infor
dfB_infor

,s_id,pb_id,e_id,mu_id,exp,UID,p_id,ds_id,name,Informative
13,300018,4544274,652,1,73,85557586,79777,3,AML,1
21,300018,69557942,652,1,20,48199244,79777,3,AML,1
45,300018,50566281,652,1,33,13947282,79777,3,AML,1
63,300018,2192426,652,1,108,40567338,79777,3,AML,1
79,300018,70808286,652,1,63,28863379,79777,3,AML,1
...,...,...,...,...,...,...,...,...,...,...
52925,867456,20661297,156,1,187,21633757,34267,4,Colon tumor,1
52926,867456,46582313,156,1,155,4826120,34267,4,Colon tumor,1
52931,867456,74281614,156,1,66,65772884,34267,4,Colon tumor,1
52970,867456,24010376,156,1,31,18493181,34267,4,Colon tumor,1
52985,867456,93187265,156,1,181,58792011,34267,4,Colon tumor,1

In [19]:
ts = pd.read_csv('test_samples.csv') ## import the test samples

In [20]:
ts

          UID  test1  test2  test3  test4  test5
0     2616922    184    185     51    148    155
1    55191224     19     30    165    151     62
2    51323880     77    159     40    104     59
3    58732744     95    158     58    149    195
4    40425172     52    116    125    125    108
..        ...    ...    ...    ...    ...    ...
995  79272055    162      8     14    103      2
996    794927    187    142    134     38     24
997  38998162    107     48     16    171     76
998  96755595     24     46    109    182     64
999  37825841     35    136     47     93    138

[1000 rows x 6 columns]

In [21]:
ts['Informative'] = 0 ## set a colunm to show if this gene is informaive for ALL or not. The default value is 0.

In [22]:
# use the loop to give value 1 for all the rows in df, if its UID is included in ALL.
for i in range(0,38):
    for j in range(0,1000):
        if ts.iloc[j,0] == ALL.iloc[i]:
            ts.iloc[j,6] = 1

In [23]:
Ap_id = dfA_infor['p_id'].drop_duplicates() ## get all the patient id in group A
Bp_id = dfB_infor['p_id'].drop_duplicates() ## get all the patient id in group B

In [24]:
Ap_id.iloc[-1]

765

In [25]:
Bp_id.iloc[-1]

34267

In [26]:
## Test1
rA1 = [] ## Prepare a list to store the correlation values
rB1 = []

In [27]:
##Calculate the correlation between test's exp and each patient(in group A)'s exp
for i in range(0,13):
    a=pd.merge(dfA_infor.loc[dfA_infor.p_id == Ap_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test1']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rA1.append(np.corrcoef(a.exp,a.test1)[0,1])

In [28]:
##Calculate the correlation between test's exp and each patient(in group B)'s exp
for i in range(0,40):
    b=pd.merge(dfB_infor.loc[dfB_infor.p_id == Bp_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test1']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rB1.append(np.corrcoef(b.exp,b.test1)[0,1])

In [29]:
rA1

[0.7399504281406035,
 0.8543444560449772,
 0.799925934165169,
 0.8060622904244565,
 0.8599105864877904,
 0.7650925013667066,
 0.8188350000476113,
 0.7632604816394648,
 0.8155210144301899,
 0.8362402033547754,
 0.8028348873995631,
 0.7912667293386927,
 0.8087932463330985]

In [30]:
rB1

[-0.10566003566048565,
 -0.06219573054554184,
 0.07703291650938973,
 0.1579312248020552,
 0.00526647745012952,
 -0.04230174099507495,
 0.04422124821558026,
 -0.14255658814067687,
 -0.0459574476579691,
 0.06893544557362402,
 -0.08082496374781287,
 -0.07519475841240564,
 -0.24957891508014599,
 -0.10791104121492226,
 0.10172906860115313,
 0.234371355684041,
 -0.05422908033359374,
 0.1964696366464271,
 -0.07326030804488734,
 0.041925558526062424,
 0.21907155507828502,
 0.2861397926149316,
 -0.1408021034730285,
 0.30097836013568213,
 0.053691335252760555,
 0.01893090558969303,
 0.30902907633504173,
 -0.021777907398938305,
 0.015859841278508324,
 0.1301035729819536,
 0.15562883534300817,
 -0.06840313793915132,
 -0.031511429717815315,
 0.1208579049933919,
 0.13361243902200715,
 0.16616275680953743,
 -0.37754960243990965,
 0.11868954891016462,
 -0.11225347170245531,
 0.09445977090906328]

In [31]:
t1 = ttest_ind(rA1, rB1) ## do the two-sample ttest for rA1 and rB1

In [32]:
t1 # the p-value is less than 0.01, so patient 1 is classified as ALL

(18.475170049327343, 3.019397577627644e-24, 51.0)

In [33]:
## Test2
rA2 = [] ## Prepare a list to store the correlation values
rB2 = []

In [34]:
##Calculate the correlation between test's exp and each patient(in group A)'s exp
for i in range(0,13):
    a=pd.merge(dfA_infor.loc[dfA_infor.p_id == Ap_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test2']],how = 'left', left_on = ['UID'], right_on = ['UID'])
    rA2.append(np.corrcoef(a.exp,a.test2)[0,1])

In [35]:
##Calculate the correlation between test's exp and each patient(in group B)'s exp
for i in range(0,40):
    b=pd.merge(dfB_infor.loc[dfB_infor.p_id == Bp_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test2']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rB2.append(np.corrcoef(b.exp,b.test2)[0,1])

In [36]:
rA2

[0.24013715477262235,
 0.1624338088522618,
 0.15546995588363102,
 0.21150667919496993,
 0.20824274359743922,
 0.1617132382554074,
 0.14415341157246767,
 0.26113296108656286,
 0.1273346074189275,
 0.11476333210383319,
 0.1736291213165275,
 0.16604639795440793,
 0.24039991739456193]

In [37]:
rB2

[0.07898822176534705,
 -0.09010579730167449,
 0.01213554492720976,
 -0.032758019989702555,
 0.006524735451979801,
 -0.10095892258287592,
 -0.0711221179657125,
 -0.04272094450974311,
 -0.10448130648761812,
 -0.16037438081481428,
 0.09479882430690306,
 -0.3607487760964048,
 -0.21296076387818655,
 -0.25039070663660995,
 0.016467509331571848,
 0.13039962183163678,
 -0.14451051778305257,
 -0.21857907041643052,
 -0.08384380485553969,
 -0.033485559439449836,
 -0.11685582360506437,
 -0.03517431747139776,
 -0.25466824800518645,
 -0.11267374059201636,
 -0.07174323425242557,
 -0.1372248248192186,
 0.0613084710287906,
 -0.0063181047549423445,
 -0.15829534830525677,
 0.03745436024416644,
 -0.14128074387088338,
 0.03350662415650919,
 0.24964621464028972,
 0.0957409065565368,
 0.053363823843710564,
 -0.15554555597418113,
 0.0014783447823400993,
 -0.27748482033511745,
 0.2124731336441646,
 -0.14754233836420913]

In [38]:
t2 = ttest_ind(rA2, rB2)

In [39]:
t2# the p-value is less than 0.01, so patient 2 is classified as ALL

(6.5082474543724125, 3.25474846690545e-08, 51.0)

In [40]:
## Test3
rA3 = [] ## Prepare a list to store the correlation values
rB3 = []

In [41]:
##Calculate the correlation between test's exp and each patient(in group A)'s exp
for i in range(0,13):
    a=pd.merge(dfA_infor.loc[dfA_infor.p_id == Ap_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test3']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rA3.append(np.corrcoef(a.exp,a.test3)[0,1])

In [42]:
##Calculate the correlation between test's exp and each patient(in group B)'s exp
for i in range(0,40):
    b=pd.merge(dfB_infor.loc[dfB_infor.p_id == Bp_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test3']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rB3.append(np.corrcoef(b.exp,b.test3)[0,1])

In [43]:
rA3

[-0.04849729483826831,
 -0.06763522046076192,
 0.11853905558403899,
 -0.09023607599317614,
 0.05451718468076086,
 -0.04974383778424151,
 -0.16187800796867535,
 -0.035284591570467316,
 0.06184563629143604,
 -0.016327282280226334,
 -0.16599821455994881,
 0.008067350815593035,
 -0.011924268321005816]

In [44]:
rB3

[0.16743195518160553,
 0.098411492973449,
 0.1214833220502675,
 -0.0016785728603224315,
 0.08050028174962481,
 -0.22060144134731707,
 -0.24750806457107685,
 0.08403180247603328,
 0.09724239563398585,
 -0.06372300329478643,
 0.17085177413731586,
 -0.2118055205178311,
 -0.14273445794252335,
 -0.13806659698795012,
 -0.21031936979550211,
 -0.008507267222114066,
 0.09679364054730008,
 -0.08372782646456797,
 0.03971379825767609,
 0.04952001099651458,
 -0.16074790467812045,
 0.04838220581027339,
 -0.10350204301913542,
 -0.03598386926220792,
 -0.19348412050766886,
 0.053641992422049416,
 -0.1661426416957376,
 0.06661196865845496,
 0.07663147969942274,
 0.018157514503202892,
 0.040118235565634194,
 -0.1573024648184504,
 -0.18784866188259858,
 0.19178419808221153,
 0.011808356994951906,
 -0.16997299270684396,
 0.21922775757106047,
 0.014549823527616274,
 -0.13793658641637,
 0.09980052143896528]

In [45]:
t3 = ttest_ind(rA3, rB3)

In [46]:
t3# the p-value is larger than 0.01, so patient 3 is not classified as ALL

(-0.289239688465967, 0.7735705184719874, 51.0)

In [47]:
## Test 4
rA4 = [] ## Prepare a list to store the correlation values
rB4 = []

In [48]:
##Calculate the correlation between test's exp and each patient(in group A)'s exp
for i in range(0,13):
    a=pd.merge(dfA_infor.loc[dfA_infor.p_id == Ap_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test4']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rA4.append(np.corrcoef(a.exp,a.test4)[0,1])

In [49]:
##Calculate the correlation between test's exp and each patient(in group B)'s exp
for i in range(0,40):
    b=pd.merge(dfB_infor.loc[dfB_infor.p_id == Bp_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test4']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rB4.append(np.corrcoef(b.exp,b.test4)[0,1])

In [50]:
rA4

[0.7213662402847246,
 0.8283467659743998,
 0.7895763226259382,
 0.8097460483397696,
 0.8641239289548527,
 0.7088269379178247,
 0.8221236504766439,
 0.7512167189032195,
 0.8637512071323489,
 0.7918513096454546,
 0.8102129205741404,
 0.8255837928819982,
 0.8058409141089489]

In [51]:
rB4

[-0.04653172931948861,
 -0.033876095150576206,
 -0.031735309786832706,
 0.15079873260525783,
 0.06261319310123103,
 -0.1209974692844168,
 -0.022740422387472682,
 -0.10238378510670355,
 0.03315853348622304,
 0.07123848485179042,
 -0.1206894239911686,
 -0.10027436942693667,
 -0.2888769193515406,
 -0.2119169522277756,
 0.12531637641354493,
 0.1987614120457642,
 0.04121832466758659,
 0.016484361608417188,
 -0.06620143610159336,
 0.02029185084824734,
 0.1250059838269502,
 0.2777487749255008,
 -0.0818362002655467,
 0.2329290963414325,
 0.07634002977133744,
 -0.05953301572166588,
 0.3210341394398019,
 -0.017080406039412566,
 0.015402373288306652,
 0.1639141427413615,
 0.2062102236219595,
 -0.09250437624994441,
 -0.026082963228017248,
 0.14626319637603974,
 0.10252942627718484,
 0.06336747146100186,
 -0.35895909585028446,
 0.015007370019839431,
 -0.08247014801374603,
 0.14981622332608294]

In [52]:
t4 = ttest_ind(rA4, rB4)

In [53]:
t4# the p-value is less than 0.01, so patient 4 is classified as ALL

(19.160580316731856, 5.926505775204915e-25, 51.0)

In [54]:
## Test 5
rA5 = [] ## Prepare a list to store the correlation values
rB5 = []

In [55]:
##Calculate the correlation between test's exp and each patient(in group A)'s exp
for i in range(0,13):
    a=pd.merge(dfA_infor.loc[dfA_infor.p_id == Ap_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test5']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rA5.append(np.corrcoef(a.exp,a.test5)[0,1])

In [56]:
##Calculate the correlation between test's exp and each patient(in group B)'s exp
for i in range(0,40):
    b=pd.merge(dfB_infor.loc[dfB_infor.p_id == Bp_id.iloc[i]],ts.loc[ts.Informative == 1,['UID','test5']], how = 'left', left_on = ['UID'], right_on = ['UID'])
    rB5.append(np.corrcoef(b.exp,b.test5)[0,1])

In [57]:
rA5

[-0.16265885250496087,
 -0.22269324040573277,
 -0.14875031614634418,
 -0.12178852527684611,
 -0.12553010154056307,
 -0.18254323427380195,
 -0.1151240590455396,
 -0.1599717486132152,
 -0.11254378217964041,
 -0.11909672841099758,
 -0.13955197108580003,
 -0.1336297057274838,
 -0.09493302652913505]

In [58]:
rB5

[0.3136890136011124,
 0.13931934878450367,
 -0.1449862470659602,
 0.11403668149927249,
 0.19281105490114098,
 0.03560781583047027,
 0.2687372070915671,
 0.05895941523266615,
 -0.06196058320916892,
 0.0016445211624072512,
 0.18574974056358684,
 0.10887296771189911,
 0.06262568484699946,
 0.09298429860433541,
 -0.003300198129139595,
 0.13363036935105554,
 -0.1658158647335772,
 -0.13523020022434876,
 0.08811098854329227,
 0.2094538969721188,
 -0.3195426774663784,
 -0.27117938304129835,
 -0.11142183265307297,
 -0.23748374807694322,
 -0.10989741707476264,
 -0.19503508700317168,
 0.026625895644939668,
 -0.20484881221830112,
 0.17243231678863788,
 -0.025528263566605345,
 0.22859486270312457,
 0.14612555825015955,
 0.20256320869239974,
 -0.021281131910683752,
 0.22599495789002527,
 -0.20264536840842878,
 0.12606154882592452,
 -0.40016403785610577,
 0.09484688081809972,
 -0.2043527372588176]

In [59]:
t5 = ttest_ind(rA5, rB5)

In [60]:
t5# the p-value is less than 0.01, so patient 5 is classified as ALL

(-3.030954964549197, 0.0038238124509267705, 51.0)